numpy==2.4.3
pandas==3.0.1
matplotlib==3.10.8
scikit-learn==1.8.0
scikit-optimize==0.10.2
joblib==1.5.3
seaborn==0.13.2
shap==0.51.0
opensmile==2.6.0
librosa==0.11.0
pydub==0.25.1
pyannote.audio==4.0.4
tqdm==4.66.1
# ffmpeg is not a Python package, but we can include it as a dependency for users to install separately. 
# The needed shared build of ffmpeg can be downloaded from gyan.dev.
# The bin/ directory should be added to the system PATH or referenced directly in the code.
